section.p-3{
    background-color: #F2F2F2;
}
 
form .form-error{
    color: red;
    font-size: .75rem;
}

.w-50{
    width:40%!important;
}

.section.text-light.p-5.text-center.text-sm-start, section.p-3{
    background-color: #000;
}

.d-sm-flex, .p-3{
    color: white;   
}

.nav-link, .hub{
    color:#000
}

body{
    margin: 0;
    display:flex;

  flex-direction:column;
  background: white;

  height:100vh;
}

.po{
    margin: 15px;
}

.container-fluid.text-center.text-dark.grande{
    height: 100%;
}
/*row*/

.container-fluid.text-center.text-dark.grande .row{
    height: 100%;
}

.row.menu{
    height: 100%;
}


.col-md-2.l1.border{
     background-color:#000;
}

 .col-md-8.mt-4.ms-4.l2{
    margin-top: 5%!important; ;
    text-align: center;
} 

.plans{
    text-decoration: none;
    color:white;
}

.plans:hover{
    color: #10A19D;
}
.teams{
    text-decoration: none;
    color:#F2F2F2;
}

.back{ 
    text-decoration: none;
    color:#000;
}

a.cump{
    text-decoration: none;
    color:#3C2A21;
}


/* test side_nav */

#side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    
}

.content{
    min-height: 100vh;;
    width: 100%;
}



.grande, .po{
    min-height: 100vh;
    width: 100%;
    padding-left:0;
    padding-right:0;
}

.sidebar li a{
    color: #F2F2F2;
    margin-top: 8px;
}

.sidebar ul li {
    margin: 17px;
}

@media(max-width: 767px){
#side_nav{
    margin-left:-260px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
    transition: all 0.2s;
}
#side_nav.active{
   margin-left :0;
}
}

/* fine side_nav */

.numUsers, .storage, .newUsers{
    
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 120px;
    
    color:white;
}

.numUsers{
    
    background:#A555EC;
}

.storage{
    
    background: #2DCDDF;
}

.newUsers{
    
    background:  #38E54D;
}

.flop{
    margin-top: 88px!important;
}

.price{
    min-height: 100vh;
    width: 100%;
    margin-left: 20%;
    margin-top: 40px;
}


.lp{
    height: 400px!important; 
    width: 300px!important;
}

.prix{
    width: 200px!important;
}
.pr{
    width: 100%;
    height: 100vh;
}